<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper">

	<insert id="insert" parameterType="BoardVO">
		insert into tbl_board (title, content, writer) values (#{title}, #{content}, #{writer});
	</insert>

	<select id="listAll" resultType="BoardVO">
		select * from tbl_board order by bno desc;
	</select>
	
	<update id="update" parameterType="BoardVO">
		update tbl_board
			set title = #{title}, content = #{content}
			where bno = #{bno};
	</update>
	
	<delete id="delete" parameterType="int">
		delete from tbl_board where bno = #{bno};
	</delete>
	
	<resultMap type="BoardVO" id="BoardResult">
		<id property="bno" column="bno"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="writer" column="writer"/>
		<result property="regdate" column="regdate"/>
		<result property="viewcnt" column="viewcnt"/>
		<result property="replycnt" column="replycnt"/>
		<collection property="files" ofType="java.lang.String" javaType="list">
			<result column="fullName" />
		</collection>  
	</resultMap>
	
	<select id="selectByNoHasAttach" parameterType="int" resultMap="BoardResult">
		select * from tbl_board
			left join tbl_attach using(bno)
			where bno = #{bno};
	</select>

	<select id="selectByNo" parameterType="int" resultType="BoardVO">
		select * from tbl_board where bno = #{bno};
	</select>
	
	<update id="updateCnt">
		update tbl_board
			set viewcnt = #{viewcnt}+1
			where bno = #{bno};
	</update>
	
	<select id="listPage" resultType="BoardVO">
		select * from tbl_board order by bno desc limit #{page}, #{perPage};
	</select>

	<select id="listCri" resultType="BoardVO">
		select * from tbl_board order by bno desc limit #{pageStart}, #{perPageNum};
	</select>

	<select id="listCount" resultType="int">
		select count(bno) from tbl_board;
	</select>
	
	
	
	<!-- SEARCH -->
	<sql id="search">
		<if test='searchType == "t"'>
			where title like CONCAT('%', #{keyword}, '%') 
		</if>
		<if test='searchType == "c"'>
			where content like CONCAT('%', #{keyword}, '%') 
		</if>
		<if test='searchType == "w"'>
			where writer like CONCAT('%', #{keyword}, '%') 
		</if>
		<if test='searchType == "tc"'>
			where title like CONCAT('%', #{keyword}, '%') 
			or content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test='searchType == "tw"'>
			where title like CONCAT('%', #{keyword}, '%') 
			or writer like CONCAT('%', #{keyword}, '%')
		</if>
		<if test='searchType == "tcw"'>
			where title like CONCAT('%', #{keyword}, '%') 
			or content like CONCAT('%', #{keyword}, '%') 
			or writer like CONCAT('%', #{keyword}, '%')
		</if>
	</sql>
	
	<select id="listSearch" parameterType="SearchCriteria" resultType="BoardVO">
		select * from tbl_board 
			<include refid="search"></include>
			order by bno desc 
			limit #{pageStart}, #{perPageNum};
	</select>
	
	<select id="listSearchCount" parameterType="SearchCriteria" resultType="int">
		select count(bno) from tbl_board
			<include refid="search"></include>
	</select>
	
	<update id="updateReplyCount">
		update tbl_board set replycnt = replycnt + #{amount} where bno = #{bno};
	</update>

	<!-- ATTACH -->
	<insert id="addAttach">
		insert into tbl_attach(fullName, bno) values (#{fullName}, LAST_INSERT_ID());
	</insert>
	
	<insert id="addAttachAtMod">
		insert into tbl_attach(fullName, bno) values (#{fullName}, #{bno});
	</insert>

	<delete id="removeAttach" parameterType="int">
		delete from tbl_attach where bno = #{bno};
	</delete>
	
	<delete id="removeAttachByName">
		delete from tbl_attach where fullName = #{fullName} and bno = #{bno};
	</delete>

</mapper>